
.disconnect-body, .counter-body{
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter-body{
    width: 80%;
}
.input-body{
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.ins{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.in{
    display: flex;
}

.binary-input{
    width:25%;
}

.word-input{
    width: 50%;
}

